.chips {

  @media screen and (min-width: 768px) {
    &__list {
      display: flex;
    }
    &__pic {
      width: 270px;
    }
    &__item:not(:last-child) {
      margin-bottom: 0;
    }

  }

    @media screen and (min-width: 768px) {
      &__list {
        justify-content: space-evenly;
        flex-wrap: wrap;

      }
      .element {
        flex-basis: calc(100% / 2);
        font-size: 32px;
      }
      &__item{
        width: 354px;
      }
    }

  @media screen and (min-width: 1200px){
    &__item:not(:last-child) {
      margin-right: 30px;
    }
    &__list {
      justify-content: space-evenly;
      flex-wrap: nowrap;
    }
  };
  &__item:not(:last-child)  {
    margin-bottom: 30px;

    @media screen and (min-width: 1200px){
    margin-bottom: 0;
    }

  }

  &__item:nth-child(n+3){
    @media screen and (min-width: 768px){
    margin-bottom: 0;
    }
  }


  &__pic {
    width: auto;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 5px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  &__name {
    text-transform: var(--upper-text-transform);
    margin-bottom: 10px;
    text-align: center;

    @media screen and (min-width: 768px){
      text-align: left;
    }
  }

  &__text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    }


}