.menu-container{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  //padding: 20px 0;
  overflow: auto;
  //text-align: center;
  //font-size: 20px;
  padding: 48px 0;

  &.is-open{
    display: block;

    @media screen and (min-width: 768px){
      display: none;
    }
  }

  &__list {
    display: block;
    margin-bottom: 302px;
  }

  &__item {
    display: flex;
    align-items: center;
    fill: currentColor;
  }

  &__item:hover {
    fill: var(--hov-blue-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    color: #2196F3;
  }
}
.mob-cont{
  display: block;
  //position: relative;
  padding-left: 40px;

  &__close{
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    top:10px;
    right: 0;
  }
  &__close:hover {
    fill: var(--hov-blue-color);
    transition-property: fill;
    //transition-duration: 250ms;
    //transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}
.menu-contact{
  margin-bottom: 64px;

  &__item{
    margin-bottom: 32px;
  }
  &__tel{
    font-weight: 500;
    font-size: 34px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--hov-blue-color);
  }
  &__mail{
    font-weight: 500;
    font-size: 24px;
    line-height: 1.12;
    letter-spacing: 0.02em;
    color: var(--back-grey-color);
  }
}

.menu-social{
  display: flex;
  &__item:not(:last-child){
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right:10px;
  }
  &__item:not(:first-child){
    padding-left: 10px;
  }
  &__link{
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    letter-spacing: 0.02em;
    color: var(--hov-blue-color);
  }

}