.outgoing {
  position: relative;
  overflow: hidden;
  //max-width: 450px;
  //min-width: 350px;
  //margin: 0 auto;

&__pic{
  min-width: 450px;
  @media screen and(min-width: 768px) {
    min-width: 354px;
  }
  @media screen and(min-width: 1200px) {
    min-width: 370px;
  }
  }
  //&__thumb{
  //  max-width: 550px;
  //  min-width: 450px;
  //  margin: 0 auto;
  //
  //  @media screen and (min-width: 768px){
  //    max-width: 454px;
  //    min-width: 354px;
  //    margin: 0 auto;
  //  }
  //  @media screen and (min-width: 1200px){
  //    max-width: 470px;
  //    min-width: 374px;
  //    margin: 0 auto;
  //  }
  //
  //}


&__text {
  position: absolute;
  width: 450px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(50%);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--ther-white-color);
  background-image: linear-gradient(rgba(33, 150, 243, 0.9), rgba(33, 150, 243, 0.9));
  padding: 63px 24px;
  pointer-events: all;
  transition: transform 250ms;

  @media screen and(min-width: 768px) {
    width: 354px;
  }
  @media screen and(min-width: 1200px) {
    width: 370px;
  }
}
}